<div class="container">

	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Total</a></div>
			<div class="header__item"><a id="on time C" class="filter__link filter__link--number" href="#">On Time C</a></div>
			<div class="header__item"><a id="late C" class="filter__link filter__link--number" href="#">Late C</a></div>
			<div class="header__item"><a id="on time R" class="filter__link filter__link--number" href="#">On Time R</a></div>
			<div class="header__item"><a id="late R" class="filter__link filter__link--number" href="#">Late R</a></div>
		</div>
		<div class="table-content">
			<div class="table-row">
				<div class="table-data">Anirudh Nandakumar</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Anirudh Seshadri</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Ankita Chatterjee</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">4</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">David Olmo Marchal</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Diya Dalal</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Edric Irimpan</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Edwin Young</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Ethan Wong</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Isha Shah</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Jin Ko</div>
				<div class="table-data">7</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">6</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Joshua Chu</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Lawrence Wang</div>
				<div class="table-data">7</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">6</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Leo Xu</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">4</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Medha Lolayekar</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Ojas Gupta</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">4</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Sarah Sun</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Serena Kher</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Shahana Parveen Musthafa</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Sharon George</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Sharon Zhu</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Shashin Gupta</div>
				<div class="table-data">1</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">0</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Shreyas Malladi</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Sravya Vakkalanka</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">4</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Sruti Elangovan</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Trevor Knotts</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Tyler Zhao</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Yichen Hu</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
		</div>	
	</div>
</div>

<link rel="stylesheet" href="resources/css/style.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="resources/js/code.js"></script>
