<p>Sort Table Rows by Clicking on the Table Headers - Ascending and Descending (jQuery)</p>
<div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Total</a></div>
			<div class="header__item"><a id="on time C" class="filter__link filter__link--number" href="#">On Time C</a></div>
			<div class="header__item"><a id="late C" class="filter__link filter__link--number" href="#">Late C</a></div>
			<div class="header__item"><a id="on time R" class="filter__link filter__link--number" href="#">On Time R</a></div>
			<div class="header__item"><a id="late R" class="filter__link filter__link--number" href="#">Late R</a></div>
		</div>
		<div class="table-content">	
