<div class="container">

	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
			<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Total</a></div>
			<div class="header__item"><a id="on time C" class="filter__link filter__link--number" href="#">On Time C</a></div>
			<div class="header__item"><a id="late C" class="filter__link filter__link--number" href="#">Late C</a></div>
			<div class="header__item"><a id="on time R" class="filter__link filter__link--number" href="#">On Time R</a></div>
			<div class="header__item"><a id="late R" class="filter__link filter__link--number" href="#">Late R</a></div>
		</div>
		<div class="table-content">
			<div class="table-row">
				<div class="table-data">Ale Ramirez</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Alexander Qi</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Anjali Krishna</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">4</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Arvind Kumar</div>
				<div class="table-data">2</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Ashlee Nicole Tugade</div>
				<div class="table-data">2</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Darren Lin</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Dhanish Natarajan</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Eason Meng</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Isabella Yang</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Ivan Lin</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">1</div>
				<div class="table-data">3</div>
			</div>
			<div class="table-row">
				<div class="table-data">James Wang</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Katie Chung</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Kevin Davies</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Kevin Wang</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Lauren Yee</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Leon Lee</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Marina Yu</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Michael Heydinger</div>
				<div class="table-data">1</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">0</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Mridula Naikawadi</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Nandini Rao</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Nico Stevensen</div>
				<div class="table-data">5</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">1</div>
			</div>
			<div class="table-row">
				<div class="table-data">Parham Darvishi</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Rian Nguyen</div>
				<div class="table-data">1</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">0</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Samantha Wong</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Shivani Choudhary</div>
				<div class="table-data">3</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">2</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Shreya Jain</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Sruthi Medepalli</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Stella He</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Vaibhav Rangan</div>
				<div class="table-data">4</div>
				<div class="table-data">1</div>
				<div class="table-data">0</div>
				<div class="table-data">3</div>
				<div class="table-data">0</div>
			</div>
		</div>	
	</div>
</div>

<link rel="stylesheet" href="resources/css/style.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="resources/js/code.js"></script>
